          <footer class="footer">
            <div class="contact">
              <p>
                Brian Karfunkel<br />
                brian.karfunkel@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/bkfunk">github.com/bkfunk</a><br />
                <a href="https://www.linkedin.com/in/briankarfunkel">linkedin.com/in/briankarfunkel</a><br />
              </p>
            </div>
            <div class="contact">
              <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
            </div>
          </footer>
        </div>

    </body>
</html>